body {
    font-family: Arial, sans-serif;
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.game-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

canvas {
    border: 1px solid black;
}
